{% extends 'layouts/default_form.html' %}

{% load static %}

{% block title %}Вход на сайт | Лабиринт{% endblock title %}
    
{% block form_button %}
    <input class='btn btn-primary' type="submit" value="Войти">
{% endblock form_button %}

{% block after_form %}
    <p>
        <a class='text-dark'
        href="{% url 'accounts:password_reset' %}">
            Забыли пароль?
        </a>
    </p>
    
    <p>
        <a class='text-dark'
        href="{% url 'accounts:sign_up' %}">
            <input class='btn btn-success' type="submit" value="Регистрация">
        </a>
    </p>

    <p>
        <a class='text-dark'
        href="{% url 'social:begin' 'vk-oauth2' %}">
            <img src="{% static 'accounts/img/vk.png' %}"
            alt="VK" height="50">
        </a>
    </p>
{% endblock after_form %}