{% extends 'basic.html' %}

{% block content %}
    {% block main_text %}
    {% endblock main_text %}
    <div class="row offset-md-1">
        {% for book in books %}
            <div class="col-md-3">
                <!-- Image -->
                <a class='text-dark'
                href="{% url 'books:book_detail_info' book.pk %}">
                    <img src="{{ book.image.url }}" alt="{{ book }}" height="180">
                </a>

                <!-- Price -->
                <h4><b>{{ book.price }} ₽</b></h4>

                <!-- Title -->
                <a class='text-dark'
                href="{% url 'books:book_detail_info' book.pk %}">
                    <h5>{{ book }}</h5>
                </a>

                <!-- Author -->
                <h6>
                    {% for author in book.authors.all %}
                    <a class='text-dark' href="{% url 'books:author_info' author.pk %}">
                        <!-- Set comma if author is not last -->
                        {{ author }}</a>{% if author != book.authors.last %},
                    {% endif %}
                    {% endfor %}
                </h6>

                <!-- Publishing house and episode -->
                <h6>
                    <a class='text-dark'
                    href="{% url 'books:publishing_house_info' book.publishing_house.pk %}">
                    {{ book.publishing_house }}</a>{% if book.episode %}: 
                    <a class='text-dark'
                    href="{% url 'books:episode_books' book.episode.pk %}">
                        {{ book.episode }}
                    </a>
                    {% endif %}
                </h6>
            </div>
        {% endfor %}
    </div>
{% endblock content %}    